body{
    background-color: #CCCCFF;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14pt;
}
header{
    font-size: 32pt;
    font-weight: bold;
    text-align:center;
    margin: 0;
}
textarea{
    width: 90%;
    height: 400px;
    font-weight: bold;
    font-size: 12pt;
    font-family: monospace;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.controls{
    width: 100%;
    text-align: center;
}
fieldset{
    border: 5px solid black ;
    width: 10%;
    display: inline-block;
}
.footer{
    text-align: right;
}
